{% extends "layout.html" %}
{% block content %}
    <h2>Quote History</h2>
    {% if quotes %}
    {% for quote in quotes %}
        <p class=quote> <!-- TODO quote deserves its own html template-->
	    <p class=quote-body>"{{ quote.quote }}"<br></p>
        <p class="quote-meta">
        &emsp; ~ {{ quote.who }}{% if quote.when%}, {{ date_to_string(quote.when) }} {% endif %}<br>
        {% if quote.where %}
            &emsp;at/in {{ quote.where }}<br>
        {% endif %}
        {% if quote.how %}
            &emsp;via {{ quote.how }}<br>
        {% endif %}
        {% if quote.context %}
            &emsp; ({{ quote.context }})<br>
        {% endif %}
        <p class="fact-check">
            {% if quote.verifiable %}
                {{ '✅ This quote is probably real' if quote.verified else '❌ No record of this quote' }}
            {% else %}
                ❓ Unable to verify this quote
            {% endif %}
        </p>
        </p>
        </p>
    {% endfor %}
    {% else %}
        <p>No quotes yet... History is written by the quotebook contributor!</p>
    {% endif %}

{% endblock %}
